<h1 class="logo logo-nav-link">
	<a href="./index.html">rojen chakradhar</a>
</h1>
<ul class="nav-links">
	<li class="nav-link home-nav-link">
		<a href="./index.html">home</a>
	</li>
	<li class="nav-link about-nav-link">
		<a href="./about.html">about</a>
	</li>
	<li class="nav-link catalog-nav-link">
		<a href="./catalog.html">catalog</a>
	</li>
	<li class="nav-link contact-nav-link">
		<a href="./contact.html">contact</a>
	</li>
</ul>
<div
	class="burger-menu-icon"
	id="burger-menu-icon"
	onclick="document.getElementById('sidenav').style.right='0'">
	<div class="bar burger-menu-icon-bar upper-bar"></div>
	<div class="bar burger-menu-icon-bar middle-bar"></div>
	<div class="bar burger-menu-icon-bar lower-bar"></div>
</div>