.name {
	font-size: var(--sub-heading-size);
	text-transform: capitalize;
	text-align: center;
}

.desc {
	font-size: var(--para-size);
}

.project i {
	height: max-content;
	width: max-content;
	font-size: var(--icon-size);
	border: 1px solid var(--white);
	border-radius: 50%;
	cursor: pointer;
}

.project i:hover {
	color: var(--green);
	background-color: var(--white);
}

.project {
	position: relative;
	width: 100%;
	height: 100%;
}

.project-card:hover .project-info {
	transform: translateY(0);
	transition: transform 0.8s ease;
}

.project-image,
.project-info {
	position: absolute;
	width: 100%;
	height: 100%;
}

.project-info {
	transform: translateY(100%);
	transition: transform 0.8s ease;
	background-color: var(--green);
}
