.contact {
  justify-content: space-between;
  align-items: center;
}

.contact-links {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-link {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-text);
}

.contact-link a {
  text-transform: lowercase;
  text-decoration: underline;
  text-decoration-color: var(--muted-text);
  color: var(--muted-text);
  transition: color 0.3s ease, border-color 0.3s ease;
}

.contact-link a:hover,
.contact-link a:focus {
  outline: none;
  text-decoration-color: var(--accent);
  color: var(--accent);
}

.social-links {
	display: flex;
	align-items: center;
  gap: 50px;
}

.social {
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
	border: 1px solid var(--accent);
  border-radius: 50%;
  color: var(--accent);
  background-color: var(--border);
  transition: background-color 0.3s ease;
}

.social:hover,
.social:focus {
  background-color: var(--primary-text);
}