@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* outline: 1px dotted red; */
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--night);
}

:root {
  --pink-300: #f7b5cd;
  --moonstone: #7aa6b3;
  --dark-moss: #525333;
  --olive: #6f6134;
  --black-olive: #3d402f;
  --ecru: #e1c68f;
  --moss: #576238;
  --eggshell: #f0eadc;
  --night: #141414;
}

@font-face {
  font-family: 'windhavi';
  src: url('../assets/fonts/Windhavi.woff');
}

@font-face {
  font-family: 'mono';
  src: url('../assets/fonts/MonogramLeavesWreath-ZppxK.woff');
}