@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	/* outline: 1px dotted red; */
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	color: var(--black);
}

:root {
	--white: oklch(0.985 0 0);
	--black: oklch(0.274 0.006 286.033);
	--gray: oklch(0.37 0.013 285.805);
	--light-gray: oklch(0.967 0.001 286.375);
}

.parent {
	height: 100dvh;
	width: 100%;
	padding: 0 5vw;
	rotate: -1deg;
	background-color: var(--white);
}

.content {
	padding: 4rem 0;
	text-align: center;
}

.heading {
	font-size: 2rem;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 1;
	margin-bottom: 1rem;
}

.para {
	font-size: 1.2rem;
	line-height: 1.5;
}

a {
	color: var(--black);
}