.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 1rem;
	font-size: 18px;
	text-transform: uppercase;
}

.nav-link {
	padding: 0.5rem 1rem;
	border: 1px solid var(--black);
	border-radius: 2rem;
}

.nav-link:hover {
	background-color: oklch(0.967 0.001 286.375);
}

.active {
	border: var(--gray);
	background-color: var(--gray);
	color: var(--white);
}

.nav-text {
	font-weight: 700;
}