.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;
}

.logo {
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 600;
	color: var(--black);
	cursor: pointer;
}

.nav-links {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}

.nav-link:focus {
	outline: 1px solid var(--ddblue);
}

.nav-text {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: var(--black);
	cursor: pointer;
}

.nav-text:hover {
	color: var(--baige);
}

.active {
	text-decoration: underline;
	text-decoration-color: var(--black);
}