.navbar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
	background-color: #AAC4F5;
}

.nav-links {
	width: 0;
	display: flex;
	align-items: center;
	column-gap: 2rem;
	overflow: hidden;
	transition: width 0.5s ease, padding 0.1s ease;
}

.nav-link:focus {
	outline: 1px solid var(--ddblue);
}

.nav-text {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: capitalize;
	color: #3E548C;
	&:hover {
		color: #6680B1;
	}
}

.active {
	.nav-text{
		color: #FFF8DE;
		&:hover {
			color: #FFF8DE;
		}
	}
}