.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;
	background-color: var(--background);
	z-index: 50;
}

.logo {
	font-size: 1.5rem;
	line-height: 1;
	font-weight: 600;
	color: var(--primary-text);
	cursor: pointer;
}

.nav-links {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}

.nav-link:focus {
	outline: 1px solid var(--border);
}

.nav-text {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: var(--primary-text);
	cursor: pointer;
	transition: color 0.2s linear;
}

.nav-link:hover .nav-text {
	text-decoration: underline;
	text-decoration-color: var(--border);
	color: var(--accent);
}

.nav-links:has(.nav-link:hover) .nav-link:not(:hover) .nav-text {
	text-decoration: none;
	color: var(--muted-text);
}