.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 1rem;
	text-transform: uppercase;
	border-bottom: 1px  solid var(--black);
}

.nav-link {
	width: 20%;
	text-align: center;
	border: 1px solid var(--black);
}

.nav-link:hover {
	background-color: var(--light-gray);
}

.active {
	border-color: var(--gray);
	background-color: var(--gray);
	color: var(--white);
}

.active:hover {
	background-color: var(--gray);
}

.nav-text {
	font-size: 1.2rem;
	font-weight: 700;
}