.navbar {
	padding: 1rem 0;
}

.navbar,
.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo-text {
	font-size: 1.2rem;
}

.nav-links {
	column-gap: 5rem;
}

.nav-logo-link,
.nav-link,
.menu-bar {
	padding: 0.2rem 1rem;
	text-align: center;
	border: 1px solid var(--black);
	border-radius: 2rem;
	box-shadow: 2px 2px 0 orangered;
}

.nav-link:hover {
	background-color: var(--light-gray);
}

.active {
	border-color: var(--gray);
	background-color: var(--gray);
	color: var(--white);
}

.active:hover {
	background-color: var(--gray);
}

.nav-text,
.menu-bar {
	font-size: 1.2rem;
	font-weight: 700;
}

/* .menu-bar {
	display: none;
} */