.nav-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 1rem;
	font-size: 18px;
	text-transform: uppercase;
	background-color: oklch(0.985 0 0);
}

.nav-link {
	padding: 0.5rem 1rem;
	border: 1px solid oklch(0.274 0.006 286.033);
	border-radius: 2rem;
}

.nav-text {
	font-weight: 700;
}