.sidenav {
  position: relative;
}

.sidenav-links {
  position: absolute;
  right: 0;
  flex-direction: column;
  background-color: var(--white);
}

.sidenav-link a {
  padding: 1vw var(--p);
  font-size: var(--nav-size);
  color: var(--white);
  background-color: var(--green);
}