.hero, .about {
  height: 100dvh;
  width: 100%;
  display: flex;
  background-color: var(--white);
  overflow-x: hidden;
}

.baseline {
  width: 100%;
  display: flex;
  align-self: self-end;
  align-items: end;
  justify-content: space-between;
  padding: 5px 10px;
}

.loc {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.me {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: right;
  color: var(--black);
}