@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	/* outline: 1px dotted red; */
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
}

:root {
	--green: #576238;
	--white: #f0eadc;
	--black: #141414;
	--heading-size: 10vw;
	--sub-heading-size: 2vw;
	--nav-size: 1.2rem;
	--para-size: 1rem;
	--icon-size: 1.5rem;
	--para-font: "Asul", sans-serif;
	--heading-font: "windhavi", sans-serif;
	--p-up: 15vw;
	--p-side: 5vw;
}

@font-face {
	font-family: "windhavi";
	src: url("../assets/fonts/Windhavi.woff");
}

*::selection {
	background-color: var(--green);
}

.b-bg {
	background-color: var(--black);
}

.w-t {
	color: var(--white);
}

.g-t {
	color: var(--green);
}

.f-s {
	height: 100dvh;
	width: 100%;
	padding: var(--p-side);
	overflow: hidden;
}

.dfac {
	display: flex;
	align-items: center;
}

.hero {
	text-align: center;
}

.heading {
	font-size: var(--heading-size);
	font-family: var(--heading-font);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	color: var(--white);
	cursor: default;
}

.sub-heading {
	font-size: var(--sub-heading-size);
	font-family: var(--heading-font);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	color: var(--white);
	cursor: default;
}

.cta {
	width: fit-content;
	padding: 1vw var(--p-side);
	font-size: var(--para-size);
	font-family: var(--para-font);
	font-weight: normal;
	line-height: 1;
	text-transform: capitalize;
	border: 2px solid var(--green);
	color: var(--white);
	background-color: var(--black);
	cursor: pointer;
}

.tabs .cta {
	width: 100%;
	border: none;
}

.cta:hover {
	background-color: var(--green);
}

.para {
	font-family: var(--para-font);
	font-size: var(--para-size);
	font-weight: normal;
	margin-top: var(--p-side);
	line-height: 1;
	color: var(--white);
}

.fcsb {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about .icons {
	margin-top: var(--para-size);
	justify-content: space-between;
}

.projects {
	width: 100%;
	padding: var(--p-side);
}

.tabs {
	margin: var(--p-side) 0;
	padding: 2px;
	column-gap: 2px;
	background-color: var(--green);
}

.active {
	background-color: var(--green);
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: var(--p-side);
}

.project-card {
	aspect-ratio: 1/1;
	width: 100%;
	color: var(--white);
	overflow: hidden;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.icons {
	justify-content: center;
	column-gap: var(--p-side);
}

.icon {
	height: var(--p-side);
	aspect-ratio: 1/1;
	justify-content: center;
	font-size: var(--icon-size);
	border: 2px solid var(--green);
	color: var(--white);
	cursor: pointer;
}

.icon:hover {
	background-color: var(--green);
}

.about .icon {
	background-color: var(--green);
}

.footer > .para {
	text-align: center;
}

.para > a:hover {
	text-decoration: underline;
}

a::selection {
	background-color: var(--white);
}

/* 
@media (min-width: 426px) {
  .hero-img {
    height: 80dvh;
    width: 30dvw;
  }
  
  .about {
    padding: 0dvw;
  }
  
  .container2 {
    padding: 5dvw;
  }
  
  .decs {
    font-size: 20px;
    margin-top: 5dvw;
  }
} */
