.hero {
  position: relative;
  height: 100dvh;
  width: 100%;
  overflow-x: hidden;
}

.fname {
	font-size: 11.85rem;
	text-shadow: 6px 6px 0 #8ca9ff;
}

.lname {
  font-size: 6rem;
	text-shadow: 6px 6px 0 #8ca9ff;
}